html,body{ min-height: 100%; }
body{
	font-family: 'PT Sans', sans-serif; 
	font-size: 16px;
	width:100%;
	max-width: 1920px; 
	min-width: 1900px; 
	margin: 0 auto;
	height: 100%;
	/*overflow: hidden;*/
}
*{ padding: 0; margin: 0; box-sizing: border-box; }
/*----------------------------------------------------*/
header{
	height: 50px; overflow: hidden;
}
nav{background: #000 !important;}
.logo{background: #000 !important; border-right: 1px solid rgba(255,255,255,.2); border-bottom: 1px solid rgba(255,255,255,.2) !important; }
.logo > span{
	color: rgba(190,22,34,1);
	font-weight: bold;
}
.main-sidebar{ background: #000 !important }
.logincontainer{
	height: 100%;
}

/*#TAGS*/
h1{ font-size: 25px; }
h2{ font-size: 24px; }
h3{ font-size: 23px; }
h4{ font-size: 22px; }
a{ color: #000; }
/*#ADDITIONAL*/
.left{ float: left; }
.right{ float: right; }
.center{ text-align: center; }
.clear{ clear: both; }
.hide{ display: none; }
.show{ display: block; }
.opacity01{ opacity: .1; }
.nolist{ list-style: none; }
.cursor{cursor: pointer;}
.overflow{ overflow: hidden; }
.mw{ max-width: 1400px; margin: 40px auto 70px; }
.border{ border-bottom: 1px solid rgba(0,0,0,.2); }
.bold{ font-weight: bold; }
.mg{ margin: 10px 0; }
.bk{ background: rgba(190,22,34,1); }
.bk:hover{ background: rgba(190,22,34,1) !important; }
.bk:focus{ background: rgba(190,22,34,1) !important; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #000; }
.disabledbutton { pointer-events: none; opacity: 0.1 !important; }
.progress{ display: none; }
.cursor{ cursor: pointer; }

/*loginform*/
.loginform{
	box-shadow: 0 0 5px rgba(0,0,0,.2); overflow: hidden;
}
.loginform > div > p:first-child{
	font-size: 20px;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	background: rgba(0,0,0,.1);
}

/*PAGES*/
.grid-item{
	width: 20%;
	float: left;
	padding: 5px;
}
.grid-item p{
	font-weight: bold;
	text-align: center;
	background: whitesmoke;
	padding: 10px;
	margin: 0;
	border: 1px solid rgba(0,0,0,.2);
	border-bottom: 0;
}
.grid-item a{
	float: left;
	padding: 5px 10px;
	background: #000;
	margin: 2px 2px 0 0;
	color: white;
	border-radius: 2px;
}
.addpage{
	width: 100%;
	float: left;
	overflow: hidden;
	background: #000 !important;
}
.addpage i{
	font-size: 100px;
	width: 100%;
	text-align: center;
	line-height: 200px;
	color: white;
}
.sidebar-menu{
	padding: 20px 0;
}