@media only screen and (max-width: 1920px){


}
/*========================================*/
@media only screen and (max-width: 1800px){
.all{ display: none; }
}
/*========================================*/

@media only screen and (max-width: 1500px){
#trusted{ right: 0 !important; }

}
/*========================================*/

@media only screen and (max-width: 1400px){
#div{ top: 60% !important; left: 50% !important; margin-left: -350px; }
#usa{ display: none; }
#trusted{ right: 50% !important; margin-left: -278px; }
#slider > img{
	width: auto !important; height: 600px; left: -240px;
}
.pagecontent{ margin: 0 20px; }
footer{ padding: 40px 10px; }
.mw{ margin: 40px 20px 70px; }
.apply{ margin: 40px auto 70px; }
}
/*========================================*/

@media only screen and (max-width: 1200px){
.grid-item{ width: 33.33% !important;}
.menu{float: right;padding-right: 20px;}
.service a{ font-size: 17px; }
#slider > img{left:-480px;}
}
/*========================================*/

@media only screen and (max-width: 890px){
	.menu i{ display: none; }
	#slider > img{ left: -680px; }

}
/*========================================*/
@media only screen and (max-width: 750px){

.grid-item{ width: 50% !important; }
.mw{margin: 40px 10px 70px;}
#slider > img{ left: -880px; }
	
}
/*========================================*/

@media only screen and (max-width: 400px){
	
}